<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <!-- *ngIf="currentUser$ | async"  utilizar observables y pipe async para saber si hay o no una sesion -->
    <ul
      
      class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
      style="--bs-scroll-height: 100px"
    >

       <ng-template *ngIf="currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/members"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/lists"
            >List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/messages"
            >Messages</a
          >
        </li>
       </ng-template>

       <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/errors"
          >Errors</a
        >
      </li>

    </ul>

    <div class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-dark text-decoration-none" dropdownToggle>
        Welcome <b>{{user.username | titlecase}}</b>
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item"> Edite Profile </a>
        <a class="dropdown-item" (click)="logout()"> Logout </a>
      </div>
    </div>
    <form
      *ngIf="!(currentUser$ | async)"
      class="d-flex"
      #loginForm="ngForm"
      (ngSubmit)="login($event)"
      autocomplete="off"
    >
      <input
        [(ngModel)]="model.username"
        name="username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        [(ngModel)]="model.password"
        name="password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>
