<h4>Internal Server Error - resfresque la pagina para que el error desaparezca</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: Si sigue viendo esto es porque el error es interno del servidor</p>
    <p>
        Que se puede hacer despues?
    </p>
    <ol>
        <li>Abrir las herramientas de desarollo de Chrome ! Luego revisar la solicitud que falla en la pestana de red</li>
        <li>Examine la URL donde va la peticion - cual servicio intenta consultar</li>
        <li>Reproducir el error en postman</li>
    </ol>
    <p style="font-weight: bold;">
        Siguiendo el stack trace - las primeras lineas que indican el error
    </p>

    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>