<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!registerMode">
        <h1>Find your Match</h1>
        <p class="lead">
            Come on in to view  your matches...  All you need to do is sign up!
        </p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>
    <div class="container" *ngIf="registerMode">
        <div class="row justity-content-center">
            <div class="col-4">
                <app-register
                    (cancelRegister)="cancelRegisterMode($event)"  
                ></app-register>
            </div>
        </div>
    </div>
</div>

<!-- (cancelRegister)="cancelRegisterMode($event)" cancelRegister es un evento que se envia del componente hijo app-register

    el componente padre home-component debe recibirlo en un evento de propio que es cancelRegisterMode y recibir como parametro lo que el metodo del componente
    hijo esta emitiendo
-->