<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register($event)"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="mb-3">
    <label style="margin-right: 10px">I am a: </label>
    <label class="form-check-label">
      <input
        class="form-check-input"
        type="radio"
        value="male"
        formControlName="gender"
      />
      Male
    </label>
    <label class="form-check-label">
      <input
        type="radio"
        value="female"
        formControlName="gender"
        class="form-check-input ms-3"
      />
      Female
    </label>
  </div>
  <app-text-input
    [label]="'Username'"
    [formControl]="$any(registerForm.controls['username'])"
  ></app-text-input>
  <app-text-input
    [label]="'Known As'"
    [formControl]="$any(registerForm.controls['knownAs'])"
  ></app-text-input>

  <app-date-picker
    [label]="'Date of Birth'"
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [maxDate]="maxDate"
  ></app-date-picker>


  <app-text-input
    [label]="'City'"
    [formControl]="$any(registerForm.controls['city'])"
  ></app-text-input>
  <app-text-input
    [label]="'Country'"
    [formControl]="$any(registerForm.controls['country'])"
  ></app-text-input>
  <app-text-input
    [label]="'Password'"
    [formControl]="$any(registerForm.controls['password'])"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [label]="'Confirm Password'"
    [formControl]="$any(registerForm.controls['confirmPass'])"
    [type]="'password'"
  ></app-text-input>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>

  <div class="text-center">
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-success me-2"
      type="submit"
    >
      Register
    </button>
    <button class="btn btn-default" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>

<p>
  {{ registerForm.valid | json }}
</p>
<p>
  {{ registerForm.status | json }}
</p>
